/* Write your CSS code here */
.nav-container {
  display: flex;
  justify-content: space-between;
}
.logo-container {
  display: flex;
}
.logo-img {
  height: 40px;
  width: 29px;
  margin: 12px;
}
.header-container {
  display: flex;
  list-style: none;
  /* margin: 12px; */
}
.name {
  color: #6d396b;
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: bold;
}
.nav-list {
  margin: 12px;
  color: #6d396b;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: bold;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .nav-container {
    font-size: 32px;
  }
}
